<div class="container" *ngIf="weatherObj.city">

    <div class="buttonsAndDate">
        <button [disabled]="listArrayIndex === 0" (click)="indexChanger(-1)">Previous</button>
        <p>{{weatherObj.list[listArrayIndex].dt*1000|date:"long"}}</p>
        <button [disabled]="listArrayIndex === (weatherObj.list.length-1)" (click)="indexChanger(+1)">Next</button>
    </div>

    <div class="weatherDataContainer">

        <span>
            <p style="text-align: center;">Weather in {{weatherObj.city.name}}, {{weatherObj.city.country}}</p>
        </span>

        <div class="iconAndTemp">
            <span>
                <img src='{{"http://openweathermap.org/img/wn/" + weatherObj.list[listArrayIndex].weather[0].icon+ "@2x.png"}}'
                    alt="">
            </span>
            <span>
                <p>
                    {{weatherObj.list[listArrayIndex].main.temp !== undefined?(weatherObj.list[listArrayIndex].main.temp
                    | number : '.2-2' ) + "°" : ""}}
                </p>
            </span>
        </div>

        <hr>
        <div class="todayData">
            <div class="todayDetails">
                <span>
                    <p>
                        Lowest Temperature
                    </p>
                </span>
            </div>
            <div class="todayValue">
                <span>
                    <p>
                        {{weatherObj.list[listArrayIndex].main.temp_min !==
                        undefined?(weatherObj.list[listArrayIndex].main.temp_min
                        | number : '.2-2' ) + "°" : ""}}
                    </p>
                </span>
            </div>
        </div>

        <hr>
        <div class="todayData">
            <div class="todayDetails">
                <span>
                    <p>
                        Highest Temperature
                    </p>
                </span>
            </div>
            <div class="todayValue">
                <span>
                    <p>
                        {{weatherObj.list[listArrayIndex].main.temp_max !==
                        undefined?(weatherObj.list[listArrayIndex].main.temp_max
                        | number : '.2-2' ) + "°" : ""}}
                    </p>
                </span>
            </div>
        </div>

        <hr>
        <div class="todayData">
            <div class="todayDetails">
                <span>
                    <p>
                        Pressure
                    </p>
                </span>
            </div>
            <div class="todayValue">
                <span>
                    <p>
                        {{weatherObj.list[listArrayIndex].main.pressure + " hPa"}}
                    </p>
                </span>
            </div>
        </div>

        <hr>
        <div class="todayData">
            <div class="todayDetails">
                <span>
                    <p>
                        Sea Level
                    </p>
                </span>
            </div>
            <div class="todayValue">
                <span>
                    <p>
                        {{weatherObj.list[listArrayIndex].main.sea_level + "hpa"}}
                    </p>
                </span>
            </div>
        </div>

    </div>
</div>