<div class="container" *ngIf="weatherObj.city">

    <div class="searchForm">
        <p style="text-align: center;">Weather in {{weatherObj.city.name}}, {{weatherObj.city.country}}</p>
        <form (ngSubmit)="getWeatherObject(locationInput)">
            <div class="formInput">
                <input type="text" name="locationInput" [(ngModel)]="locationInput" id="weatherSearch"
                    placeholder="Search">
            </div>
            <div class="formSubmit">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>

    <div class="sortByButtons">
        <button (click)="sortButton('dt')">Date</button>
        <button (click)="sortButton('temp')">Temp</button>
        <button (click)="sortButton('feels_like')">Feels like</button>
    </div>

    <div class="listCard" *ngFor="let weather of weatherObj.list, index as weatherListIndex"
        (click)="navigate(weatherListIndex)">
        <div class="listCardDate">
            <span>{{weather.dt*1000 | date: "long"}}</span>
        </div>
        <div>
            <span>Temp {{weather.main.temp}}</span>
            <span>feels_like {{weather.main.feels_like}}</span>
        </div>
    </div>

</div>