<div class="container">
    <div class="searchForm">
        <p style="text-align: center;">Search for location weather</p>
        <form>
            <div class="formInput">
                <input type="text" id="weatherSearch" placeholder="Search">
            </div>
            <div class="formSubmit">
                <button  type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="sortByButtons">
        <button>sort1</button>
        <button>sort2</button>
        <button>sort3</button>
    </div>
    <div class="allListCards">
        <div class="listCard">
            <span>card1-1</span>
            <span>card1-2</span>
            <span>card1-3</span>
            <span>card1-4</span>
        </div>

        <div class="listCard">
            <span>card2-1</span>
            <span>card2-2</span>
            <span>card2-3</span>
        </div>

        <div class="listCard">
            <span>card3-1</span>
            <span>card3-2</span>
            <span>card3-3</span>
        </div>

    </div>
</div>