p {
    text-align: center;
}

.searchForm {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.searchForm p {
    margin-bottom: 0.5rem;
}

.searchForm form {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0 0;
}

.formInput {
    width: 75%;
}

.formInput input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px 0 0 8px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
}

.formInput input:focus {
    background-color: f7fafa;
}

.formSubmit {
    width: 25%;
}

.formSubmit button {
    width: 100%;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.searchForm .formSubmit button:disabled {
    cursor: not-allowed;
}

.sortByTitle {
    padding-top: 0.5rem;
}

.sortByButtons {
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0.75rem 0;
    align-items: center;
}

.sortByButtons button {
    width: 22.5%;
    padding: 0.75rem 0.1rem;
}

.listCard {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    /* background-image: url("./assets/01d.jpg"); */
    cursor: pointer;
}

.listCard p {
    color: #0f1111;
}

.listCard .listCardDate {
    width: 100%;
    margin-bottom: 0.5rem;
}

.listCard .weatherValues {
    display: flex;
    justify-content: space-between;
}

.listCard .weatherValues .descriptionSpan {
    width: 40%;
}

.listCard .weatherValues .descriptionSpan p {
    text-align: left;
}

.listCard .weatherValues .dataSpan {
    width: 15%;
    height: 20px;
}

.listCard .weatherValues .dataSpan img {
    position: relative;
    bottom: 27.5px;
    /* height: 50px; */
    /* margin-bottom: 100px; */
}